{% extends 'main.html' %}
{% load static %}
{% block add %}

<link rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css'>
<link rel='stylesheet' href='/resources/demos/style.css'>
<script src='https://code.jquery.com/jquery-1.12.4.js'></script>
<script src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>
<form action="/tasks/add/" method="post">
    {% csrf_token %}
    <div class='brd'>
    <b>Note:</b>
    <br>
    {{ form.name }}
    </div>
    <br>
    <div class='brd'>
    <b>Date of start:</b>
    <br>
    {{ form.date_of_start }}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class='brd'>
    <b>Date of end:</b>
    <br>
    {{ form.date_of_end }}
    </div>
    <div class='brd'>
    <input type="submit" value="Подтвердить"/>
  </div>
</form>

<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2012",
      dateFormat: 'yy-mm-dd'
      // You can put more options here.

    });
  });
  </script>
{% endblock %}
