{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}" />
<! — vue.js files →
 <script src='https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js'></script>
<nav class="top-menu">
  <ul class="menu-main">
    <li class="left-item"><a href="/tasks/all/">Show all tasks</a></li>
    <li class="left-item"><a href="/tasks/add/">Add new task</a></li>
</ul>
</nav>
<div class ="row" align="left">
{% block tasks %} {% endblock %}
{% block add %} {% endblock %}
{% block edit %} {% endblock %}
</div>
