{% extends 'main.html' %}
{% load static %}
{% block tasks %}
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
  <link rel="stylesheet" type="text/css" href="{% static 'userstyle.css' %}" />
  <div id="app">
    <link rel="stylesheet" type="text/css" href="{% static 'userstyle.css' %}" />
    <table id = "tasks" class="mytable">
      <tr>
        <th>Text</th>
        <th>Deadline</th>
        <th>Status</th>
      </tr>
    <tr v-for="task in tasks" v-bind:bgcolor="changeColor([[task.status]])">
      <td> [[task.name]]</td>  <td>[[task.date_of_end]]</td><td v-if="task.status === 0">Actual</td>
                                                                                            <td v-else-if="task.status === 1">Done</td>
                                                                                            <td v-else-if="task.status === 2">Overdue</td>
        <td><button class='ui teal button' v-on:click=doneTask(task.id)>Done</button></td>
        <td><button class='negative ui button' v-on:click=deleteTask(task.id)>Delete</button></td>
        <td><button class='ui green primary button' v-on:click=editTask(task.id)>Edit</button></td>
   </tr>
  </table>
  </div>
</body>

<script>

new Vue({
  delimiters: ['[[', ']]'],
  el: '#app',
  data: {
    title: 'Welcome',
    tasks: []
  },
  computed: {
  styleObject: function (status) {
    alert(status)
    return {
      background:this.changeColor(this.status)
    }
  }
},
  mounted: function() {
    this.getTasks();
},
methods: {
  renameStatus: function(status) {
		if (status == 0) {
			this.curstatus = 'actual';
		} else if (status == 1)  {
			this.curstatus = 'done';
		} else {
      this.curstatus = 'overdue';
    }
    return this.curstatus
	},
  changeColor: function(status) {
		if (status == 0) {
			this.color = '#cfffad';
		} else if (status == 1)  {
			this.color = '#56ffb8';
		} else {
      this.color = 'red';
    }
    return this.color
	},
  getTasks: function() {
    this.$http.get('/tasks/showTasks/')
    .then((response) => {
        this.tasks = response.data;
      })
   },
  deleteTask: function(id) {
    this.$http.get('/tasks/delete/'+id+'/' )
     .then((response) => {
       this.users = response.data;
       window.location.href = '/tasks/all/'
     })
   },
   doneTask: function(id) {
     this.$http.get('/tasks/done/'+id+'/' )
      .then((response) => {
        this.tasks = response.data;
      })
    },
   editTask: function(id) {
     window.location.href = '/tasks/edit/'+id+'/';
    },
}
})
</script>

{% endblock %}
